{% load structure_extras %}

<p class="heading">{{ commission_page.title|safe }}</p>

<div class="member-list">
    <div class="title">Commissioners</div>

{#    <table>#}
{#        {% for member_list in members|columns:4 %}#}
{#        <tr></tr>#}
{#        {% endfor %}#}
{#    </table>#}

    {% with member_lists_with_size=other_members|columns:3 %}
        <div class="column">
        {% for member in chair_members|padded_column:member_lists_with_size.1 %}
             <div class="member-name-cell"><div class="member-name">{% if member %}{{ member.name }}{% endif %}&nbsp;</div></div>
        {% endfor %}
        </div>
        {% for member_list in member_lists_with_size.0 %}
            <div class="column">
                {% for member in member_list|padded_column:member_lists_with_size.1 %}
                    <div class="member-name-cell">{% if member %}<div class="member-name">{{ member.name }}</div>{% endif %}&nbsp;</div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endwith %}


</div>

<div class="member-descriptions">
    {% spaceless %}
    {% for member in chair_members %}
        <div class="member-profile">
            {% if member %}
                <span class="member-name" id="{{ member.slug }}">{{ member.name }}</span>
                {% if member.position %}<span class="member-position">, {{ member.position }}</span>{% endif %}
                {% if member.partner %}<span class="member-partner">, {{ member.partner.name }}</span>{% endif %}
                {% if member.twitter_handle %}<span> / </span><span class="twitter-link"><a href="http://twitter.com/{{ member.twitter_handle }}" data-twitter-href="twitter://user?screen_name={{ member.twitter_handle }}">{{ member.twitter_handle }}</a></span>{% endif %}
                {% if member.short_bio %}<div class="member-bio">{{ member.short_bio }}</div>{% endif %}{% if member.website %}<div class="member-website"><a href="{{ member.website }}">Access Website <i class="fa fa-external-link"></i></a></div>{% endif %}
                {% if member.website %}<div class="member-website"><a href="{{ member.website }}">Access Website <i class="fa fa-external-link"></i></a></div>{% endif %}
            {% endif %}
        </div>
    {% endfor %}
    {% for member in other_members %}
        <div class="member-profile">
            <span class="member-name" id="{{ member.slug }}">{{ member.name }}</span>
            {% if member.position %}<span class="member-position">, {{ member.position }}</span>{% endif %}
            {% if member.partner %}<span class="member-partner">, {{ member.partner.name }}</span>{% endif %}
            {% if member.twitter_handle %}<span> / </span><span class="twitter-link"><a href="http://twitter.com/{{ member.twitter_handle }}" data-twitter-href="twitter://user?screen_name={{ member.twitter_handle }}">{{ member.twitter_handle }}</a></span>{% endif %}
            {% if member.short_bio %}<div class="member-bio">{{ member.short_bio }}</div>{% endif %}
        {% if member.website %}<div class="member-website"><a href="{{ member.website }}">Access Website <i class="fa fa-external-link"></i></a></div>{% endif %}
        </div>
    {% endfor %}

    {% for member in supporting_members %}
        <div class="member-type supporting">
            <div class="heading">Commission Support</div>
            <div class="member-profile">
                <span class="member-name" id="{{ member.slug }}">{{ member.name }}</span>
                {% if member.position %}<span class="member-position">, {{ member.position }}</span>{% endif %}
                {% if member.partner %}<span class="member-partner">, {{ member.partner.name }}</span>{% endif %}
                {% if member.twitter_handle %}<span> / </span><span class="twitter-link"><a href="http://twitter.com/{{ member.twitter_handle }}" data-twitter-href="twitter://user?screen_name={{ member.twitter_handle }}">{{ member.twitter_handle }}</a></span>{% endif %}
                {% if member.short_bio %}<div class="member-bio">{{ member.short_bio }}</div>{% endif %}
                {% if member.website %}<div class="member-website"><a href="{{ member.website }}">Access Website <i class="fa fa-external-link"></i></a></div>{% endif %}
            </div>
        </div>

    {% endfor %}

     <p>{{ commission_page.content|safe }}</p>
    {% endspaceless %}
</div>
