{% load structure_extras %}

<div class="member-list">
    <div class="title">Commission Members</div>

{#    <table>#}
{#        {% for member_list in members|columns:4 %}#}
{#        <tr></tr>#}
{#        {% endfor %}#}
{#    </table>#}

    {% for member_list, length in members|padded_column_split:"2,5,5" %}
        <div class="column">
            {% for member in member_list %}
                <div class="member-name">{{ member.name }}&nbsp;</div>
            {% endfor %}
        </div>
    {% endfor %}
{#    <table class="member-table">#}

{#    {% for member in members %}#}
{#        <tr>#}
{#            <td><div class="member-name">{{ member.name }}</div></td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </table>#}

</div>

<div class="member-descriptions">
    {% spaceless %}
    {% for member in members %}
        <div class="member-profile">
            <span class="member-name">{{ member.name }}</span>
            {% if member.position %}<span class="member-position">, {{ member.position }}</span>{% endif %}
            {% if member.partner %}<span class="member-partner">, {{ member.partner.name }}</span>{% endif %}
            {% if member.twitter_handle %}<span> / </span><span class="twitter-link"><a href="http://twitter.com/{{ member.twitter_handle }}">{{ member.twitter_handle }}</a></span>{% endif %}
            {% if member.short_bio %}<div class="member-bio">{{ member.short_bio }}</div>{% endif %}
        </div>
    {% endfor %}
    {% endspaceless %}
</div>
