<p class="heading">{{ contact_page.title|safe }}</p>
{{ contact_page.content|safe }}

<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<form action="/contact/" method="post" class="contact-form">
    {% csrf_token %}
    <table>
        {{ contact_form.as_table }}

        <tr><td></td><td class="submit-row"><input type="submit" value="Submit" /></td></tr>
    </table>
</form>

<script type="text/javascript">
    function localShowCaptcha(element){
        Recaptcha.create("{{ public_key }}",
            element,
            {
              theme: "white",
              callback: Recaptcha.focus_response_field
            }
          );
    }

</script>


<noscript>
  <iframe src="{{api_server}}/noscript?k={{public_key}}&hl={{lang}}{{error_param}}" height="300" width="500" frameborder="0"></iframe><br />
  <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
  <input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
</noscript>