
<div class="event-listings">
    <p class="heading">Events</p>
    <table>
        {% for event in current_events %}
            <tr class="event-link" data-event-id="{{ event.slug }}">
                <td class="date"><a href="{% url 'event' event.slug %}">{{ event.start_date|date:"F d, Y" }}</a></td>
                <td><a href="{% url 'event' event.slug %}"><div class="title">{{ event.title }}</div>
                    <div class="location">{{ event.location }}</div></a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if past_events|length > 0 %}
    <p class="sub-heading">Past Events</p>
    <table>
        {% for event in past_events %}
            <tr class="event-link" data-event-id="{{ event.slug }}">
                <td class="date"><a href="{% url 'event' event.slug %}">{{ event.start_date|date:"F d, Y" }}</a></td>
                <td><a href="{% url 'event' event.slug %}"><div class="title">{{ event.title }}</div>
                    <div class="location">{{ event.location }}</div></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>


