
<div class="event-listings">
    <p class="heading">Events</p>
    <table>
        {% for event in current_events %}
            <tr class="event-link" data-event-id="{{ event.slug }}">
                <td class="indicator"><i class="fa fa-circle dot"></i></td>
                <td class="date">{{ event.start_date|date:"F d, Y" }}</td>
                <td><div class="title">{{ event.title }}</div>
                    <div class="location">{{ event.location }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if past_events|length > 0 %}
    <p class="sub-heading">Past Events</p>
    <table>
        {% for event in past_events %}
            <tr class="event-link" data-event-id="{{ event.slug }}">
                <td class="indicator"><i class="fa fa-circle dot"></i></td>
                <td class="date">{{ event.start_date|date:"F d, Y" }}</td>
                <td><div class="title">{{ event.title }}</div>
                    <div class="location">{{ event.location }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>
<div id="event-content">
    {% for event in current_events %}
       {% include 'commission/event.html' %}
    {% endfor %}
    {% for event in past_events %}
       {% include 'commission/event.html' %}
    {% endfor %}
</div>
{#    <p class="press-release-notice">#}
{#    FOR IMMEDIATE RELEASE#}
{#    </p>#}
{#    <p class="heading">{{ press_page.title|safe }}</p>#}
{#    {{ press_page.content|safe }}#}


