{% load staticfiles %}
{#<div class="heading massive wide">{{ main_page.title }}</div>#}
{#<div class="heading medium wide">{{ main_page.content }}</div>#}
<div class="heading">
    <div class="logo"><img src="{% static 'img/OurinternetLogo.png' %}" alt="Ourinternet Logo"></div>
</div>
{% if features %}
<div class="features">
    {% for feature in features %}
        <div class="feature">
            <div class="feature-display-row">
                {% if feature.link %}<a href="{{ feature.link }}">{% endif %}<div class="title heading">{{ feature.title }}</div> {% if feature.link %}</a>{% endif %}
            </div>
            <div class="feature-display-row">
                <div class="feature-type">{{ feature.type_line }}</div>
            </div>
            <div class="feature-display-row">
                <div class="feature-date">{{ feature.date_title }}{% if feature.date %}: {{ feature.date }}{% endif %}</div>
            </div>
            <div class="feature-display-row">
                <div class="description">{{ feature.description }}</div>
            </div>

            <div class="feature-display-row-{{ feature.feature_links.all|length }}">
            {% for button_link in feature.feature_links.all %}
                <div class="download">
                     <a href="{{ button_link.link }}">{{ button_link.link_title }} <i class="fa {{ button_link.icon }}"></i></a>
                </div>

            {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="logos">
  {% for partner in partners %}
      {% if partner.logo %}
      <div class="grid_6 logo"><a href="#partners"><img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo"></a></div>
      {% endif %}
  {% endfor %}
</div>