{% load staticfiles %}
{#<div class="heading massive wide">{{ main_page.title }}</div>#}
{#<div class="heading medium wide">{{ main_page.content }}</div>#}
<div class="heading">
    <div class="logo"><img src="{% static 'img/OurinternetLogo.png' %}" alt="Ourinternet Logo"></div>
</div>


<div class="logos">
    <div class="grid_6 logo"><a href="#partners"><img class="cigi" src="{% static 'img/cigi.png' %}" alt="CIGI Logo"></a></div>
  <div class="grid_6 logo"><a href="#partners"><img class="chathamhouse" src="{% static 'img/ch-logo-37.png' %}" alt="Chatham House Logo"></a></div>
</div>