
<div class="press-release-listings">
    <p class="heading">Press Releases</p>
    {% for release in press_releases %}
        <div class="press-release-link" data-release-id="{{ release.slug }}"><i class="fa fa-arrow-right indicator"></i><div class="column"> {{ release.release_date|date:"F d, Y" }}</div><div class="column"> - </div><div class="column">{{ release.title }}</div></div>
    {% endfor %}
</div>
<div id="press-releases-content">
    {% for release in press_releases %}
       {% include 'commission/press_release.html' %}
    {% endfor %}
</div>
{#    <p class="press-release-notice">#}
{#    FOR IMMEDIATE RELEASE#}
{#    </p>#}
{#    <p class="heading">{{ press_page.title|safe }}</p>#}
{#    {{ press_page.content|safe }}#}


