
<div class="press-release-listings">
    <p class="heading">Press Releases</p>
    <table>
        {% for release in press_releases %}
            <tr class="press-release-link" data-release-id="{{ release.slug }}">
                <td class="date"><a href="{% url 'press'  release.slug %}">{{ release.release_date|date:"F d, Y" }}</a></td>
                <td class="title"><a href="{% url 'press'  release.slug %}">{{ release.title }}</a></td>
            </tr>
        {% endfor %}
    </table>

</div>

