
<div class="press-release-listings">
    <p class="heading">Press Releases</p>
    <table>
        {% for release in press_releases %}
            <tr class="press-release-link" data-release-id="{{ release.slug }}">
                <td class="indicator"><i class="fa fa-circle dot"></i></td>
                <td class="date">{{ release.release_date|date:"F d, Y" }}</td>
                <td class="title">{{ release.title }}</td>
            </tr>
        {% endfor %}
    </table>

</div>
<div id="press-releases-content">
    {% for release in press_releases %}
       {% include 'commission/press_release.html' %}
    {% endfor %}
</div>
{#    <p class="press-release-notice">#}
{#    FOR IMMEDIATE RELEASE#}
{#    </p>#}
{#    <p class="heading">{{ press_page.title|safe }}</p>#}
{#    {{ press_page.content|safe }}#}


