
<div class="publication-listings">
    <p class="heading">Publications</p>
    <table>
        {% for publication in publications %}
            <tr class="publication-link" data-publication-id="{{ publication.slug }}">
                <td class="date"><a href="{% url 'publication' publication.slug %}">{{ publication.publish_date|date:"F d, Y" }}</a></td>
                <td class="title"><a href="{% url 'publication' publication.slug %}">{{ publication.title }}</a></td>
            </tr>
        {% endfor %}
    </table>

</div>
