<p class="heading">Videos</p>

<div class="video-embed">
<object width='640' height='390'>
    <param name='movie' value='https://www.youtube.com/v/{{ videos.0.video_id }}?version=3' />
    <param name='allowScriptAccess' value='always' />
    <embed src='https://www.youtube.com/v/{{ videos.0.video_id }}?version=3'
           type='application/x-shockwave-flash'
           allowscriptaccess='always' width='640' height='390'></embed>
</object>
</div>

<div class="video-listings">

    <table>
        {% for video in videos %}
            <tr class="video-link" data-video-id="{{ video.slug }}" data-youtube-id="{{ video.video_id }}">
                <td><div class="heading">{{ video.title }}</div>
                    <div class="description">{{ video.description }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
