{% load tz %}
<div class="event" id="{{ event.slug }}">
    <p class="heading">{{ event.title|safe }}</p>
    <div class="event-body">

        <div class="info">
            <div class="icon fa fa-map-marker"></div>
            <div class="data">
                <div class="location">{{ event.location }} </div>
                <div class="date">
                    {% timezone "UTC" %}
                    <span class="start-date">{{ event.start_date|date:"l, F j, Y" }}{%  if event.end_date != event.start_date %} - </span>
                    <span class="end-date">{{ event.end_date|date:"l, F j, Y" }}</span>
                    {% endif %}
                    {% endtimezone %}
                </div>
            </div>
        </div>



        <div>
            {{ event.content|safe }}
        </div>

    </div>
</div>


