<div class="press-release" id="{{ release.slug }}">
    <p class="press-release-notice">
        {{ release.release_tag }}
    </p>
    <p class="heading">{{ release.title|safe }}</p>
    <div class="press-release-body">
        <span class="info">{{ release.location }} – {{ release.release_date|date:"F d, Y" }}</span> – {{ release.content|safe }}
    </div>

    <div class="media-contacts">
        <div class="title">Media Contact: </div>
         {% for contact in release.footer.media_contacts.all %}
            <div>
                {{ contact.name }}, {{ contact.position }}, {{ contact.company }} <br>
                Tel: {{ contact.telephone }}, Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </div>
         {% endfor %}
    </div>
    <div class="partners">
        {% for partner in release.footer.partners.all %}
            <div class="partner">
            <span class="name">{{ partner.name }} {% if partner.short_name %}({{ partner.short_name }}){% endif %}</span> {{ partner.press_description }} For more information, please visit <a href="{{ partner.website }}">{{ partner.website_display }}</a>.
            </div>

        {% endfor %}
    </div>

    <div class="press-release-end">{{ release.end_tag }}</div>
</div>


