{% extends 'structure/page.html' %}
{% load staticfiles %}
{% block background %}
{% endblock %}

{% block page_title %}{{ publication.title|safe }}{% endblock %}

{% block page_content %}
{% load tz %}
<div class="publication page" id="{{ publication.slug }}" vocab="http://schema.org/" typeof="ScholarlyArticle">

    <div class="item-body">

        <div class="item-content">
            <div class="info">
            <div class="data">
                <p class="heading" property="headline">{{ publication.title|safe }}</p>

                {% spaceless %}
                    <div class="authors">{% for author in publication.get_authors %}
                        {{ author.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </div>
                {% endspaceless %}
                    <div class="date">
                        {% timezone "UTC" %}
                        <span class="publish-date" property="datePublished" content="{{ publication.publish_date|date:"c }}">Published: {{ publication.publish_date|date:"l, F j, Y" }} </span>
                        {% endtimezone %}
                    </div>

                <div class="download">
        {% spaceless %}
             <a href="{% if publication.document_link %}
             {{ publication.document_link }}
             {% elif publication.document %}
             {{ publication.document.url }}
             {% endif %}">{{ publication.document_link_title }} <i class="fa fa-download"></i></a>
        {% endspaceless %}
        </div>
                </div>
            </div>
        </div>

        <div class="item-content">
            {% if publication.body %}
                <div class="main-body" property="articleBody">{{ publication.body|safe }}</div>
            {% else %}
                <div class="main-body" property="articleBody">{{ publication.description|safe }}</div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock page_content %}

