{% extends 'structure/page.html' %}
{% load staticfiles %}

{% block page_title %}{{ webcast.title }}{% endblock %}

{% block page_content %}
{% load tz %}
    <div class="webcasts">
    {% for webcast in webcasts.all %}



    <div class="webcast">
        <div class="heading">{{ webcast.title }}</div>
        {% if webcast.embed_type == 'None' %}
        <div class="webcast-embed"></div>
        {% elif webcast.embed_type == 'iframe' %}
            <div class="webcast-embed"><iframe src="{{ webcast.embed_identifier }}"
                                             width="640" height="390"
                                             frameborder="0"
                                             seamless allowfullscreen="true"
                                             webkitAllowFullScreen="true"></iframe></div>
        {% endif %}
    </div>
    {% empty %}
        <div class="webcast">
        <div class="heading">GCIG Live</div>
        <div class="webcast-embed"></div>
    </div>
    {% endfor %}
    <div class="instructions">
        <div class="heading">{{ webcasts_instructions_page.title|title }}</div>
        {{ webcasts_instructions_page.content|safe }}
    </div>
    </div>
{% endblock page_content %}

