{% extends 'structure/page.html' %}
{% load staticfiles %}

{% block page_content %}
{% load tz %}
<div class="webcast">
    <div class="heading">GCIG Live</div>
    <div class="video-embed">&lt;video embed&gt;</div>
    <div class="instructions">
        <div class="heading">Instructions</div>
        <p>Broadcasts will begin automatically on this page; there is no log-in or verification required. We recommend the use of headphones for optimal audio quality.</p>
        <p>Questions for the speakers can be submitted via Twitter using #GCIGLive. We ask that you include your name and location when submitting a question.</p>
        <p>Should you experience any technical difficulties throughout the broadcast, please contact info@ourinternet.org.</p>
    </div>
</div>
{% endblock page_content %}

