@import "variables";
@import "mixins";

.event{
  padding-top: 1em;

  .info{
    font-style: italic;
    text-transform: uppercase;
    margin-top: -1em;
    padding-bottom: 1em;
    display: table;
    
    .icon {
      display: table-cell;
//      height: 4em;
//      text-align: center;
//      visibility: middle;
      width: 5%;
//      height: 1em;
      vertical-align: middle;
    }
    .data{
      display: table-cell;
      width: 90%;
      vertical-align: middle;
//      height: 4em;
    }
  }
}

.event-listings {
  border-bottom: 1px solid $main_color;
  padding-bottom: 2em;

  .active{
    color: $disabled_link_color;
    cursor: default;

    .indicator{
      visibility: visible;
    }
  }

  .indicator{

    vertical-align: top;
    visibility: hidden;

    .dot{
      vertical-align: middle;
      font-size: 0.5em;
      line-height: 1em;
      margin-bottom: 0.5em;
    }
  }

  .date {
    vertical-align: top;
    width: 11em;
  }

  .location {
    font-style: italic;
    margin-bottom: 1em;

  }
}

.event-link {
  cursor: pointer;

  color: $link_color;
  text-decoration: none;

  .column {
    display: inline-block;
    max-width: 76%;
    vertical-align: top;
    padding-right: 0.5em;

    @include screen-at-most($extra-extra-large) {
      max-width: 66%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-large) {
      max-width: 50%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-small){
      max-width: 46%;
      padding-right: 0.25em;
    }
  }
}
