@import "variables";
@import "mixins";

.footer {
  width: 90%;
  margin: 4em auto;
  border-top: 1px solid $main_color;
  z-index: 10;

  font-size: 1em;

  .content-page & {
    width: 120%;
    text-align: center;
    margin: 4em -25%;
    width: 150%;

    a {
      text-decoration: underline;
      color: $main_color;
    }
  }

  & p {
    font-size: 0.9em;
  }

  & p.open-source-message {
    font-size: 0.75em;
  }

  .main-page & {
    font-size: 0.65em;
  }

  a {
    color: $main_color;
    &:visited {
      color: $main_color;
    }

  }
}