@import "variables";
@import "mixins";

.media-contacts{
  .title{
    font-weight: bold;
    text-transform: uppercase;
  }

  .media-contact{
    padding-bottom: 1em;
  }
}

.press-release{
  padding-top: 4em;
  .press-release-notice{
    text-transform: uppercase;
    text-align: left;
  }

  .info {
    font-weight: bold;
  }


  .partner {
    .name {
      font-weight: bold;
    }

    padding-top: 1em;
  }

  .press-release-end {
    text-align: center;
    padding-top: 1em;
  }


}

.press-release-listings {
  padding-bottom: 2em;


  .active{
    color: $disabled_link_color;
    cursor: default;

    .indicator{
      visibility: visible;
    }
  }

  .indicator{

    vertical-align: top;

    visibility: hidden;

    .dot{
      vertical-align: middle;
      font-size: 0.5em;
      line-height: 1em;
      margin-bottom: 0.5em;
    }
  }

  .date {
    vertical-align: top;
    width: 11em;
  }

  .title {
    padding-bottom: 0.5em;
  }
}

.press-release-link {
  cursor: pointer;

  color: $link_color;
  text-decoration: none;

  .column {
    display: inline-block;
    max-width: 76%;
    vertical-align: top;
    padding-right: 0.5em;

    @include screen-at-most($extra-extra-large) {
      max-width: 66%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-large) {
      max-width: 50%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-small){
      max-width: 46%;
      padding-right: 0.25em;
    }
  }

}
