@import "variables";
@import "mixins";

.media-contacts{
  .title{
    font-weight: bold;
    text-transform: uppercase;
  }
}

.press-release{
  .press-release-notice{
    text-transform: uppercase;
    text-align: left;
  }

  .info {
    font-weight: bold;
  }


  .partner {
    .name {
      font-weight: bold;
    }

    padding-top: 1em;
  }

  .press-release-end {
    text-align: center;
    padding-top: 1em;
  }


}

.press-release-link {
  cursor: pointer;

  color: $twitter_color;
  text-decoration: none;

  .column {
    display: inline-block;
    max-width: 76%;
    vertical-align: top;
    padding-right: 0.5em;

    @include screen-at-most($extra-extra-large) {
      max-width: 66%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-large) {
      max-width: 50%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-small){
      max-width: 46%;
      padding-right: 0.25em;
    }
  }

}
