@import "variables";
@import "mixins";

.publication{
  padding-top: 1em;

  &.page{
    .publication-body{
      margin-top: 4em;

      .data .download{
        margin-top: 4em;
        text-align: left;

        @include screen-at-most($medium) {
          margin-top: 2em;
        }
      }
      .heading{
        margin: 0.5em 0 0.5em 0;
        text-transform: none;
      }

      .cover-image{
        width: 178px;
        height: 231px;

        @include screen-at-most($medium) {
          width: 100%;
          height: 100%;
          margin-bottom: 1em;
        }
      }
      .cover-image img{
        width: 178px !important;
        height: 231px !important;


      }
    }
  }
  .info{
    font-style: italic;
    text-transform: uppercase;
    margin-top: -1em;
    padding-bottom: 1em;
    display: table;

    .data{
      display: table-cell;
      width: 90%;
      vertical-align: middle;
      font-size: 1em;
      .publish-date {
        white-space: nowrap;
        font-size: 0.75em;
      }
    }
    .heading{
      font-style: normal;
    }
  }

  .publication-content{
    display: table;
    vertical-align: top;

    @include screen-at-most($medium) {
      display: block;
    }

    .main-body {
      display: table-cell;
      vertical-align: top;
      padding-top: 3em;

      @include screen-at-most($medium) {
        display: block;
      }
    }
    .description {
      display: table-cell;
      vertical-align: top;

      @include screen-at-most($medium) {
        display: block;
      }
    }
    .cover-image {
      display: table-cell;
      vertical-align: top;
      width: 8.5 * 30px;
      height:11 * 30px;
      padding-right: 1em;

      @include screen-at-most($medium) {
        display: block;
        text-align: center;
        width: 100%;
        padding-right: 0;
      }

      img{

        //required for IE < 11
        left: auto !important;
        top: auto !important;
        //required for non-IE
        top: initial !important;
        left: initial !important;
        z-index: 10 !important;
        width: 8.5 * 30px !important;
        height:11 * 30px !important;

        @include screen-at-most($medium) {
          left: 25% !important;
        }

        @include screen-at-most($small) {
          left: 10% !important;
        }

      }
    }
  }



  .download{

    margin-top: 2em;
    text-align: center;
    a{
      font-size: 0.91em;
      padding: 0.4em 1em;
      width: 11em;
      text-transform: uppercase;
      border: 1px solid $link_color;
      -webkit-border-radius: 0.273em;
      -moz-border-radius: 0.273em;
      border-radius: 0.273em;
      background-color: $button_background_color;

      &:hover{
        background-color: $button_hover_background_color;
      }
    }

  }
}

.publication-listings {
  border-bottom: 1px solid $main_color;
  padding-bottom: 2em;

  .active{
    color: $disabled_link_color;
    cursor: default;

    .indicator{
      visibility: visible;
    }
  }

  .indicator{

    vertical-align: top;
    visibility: hidden;

    .dot{
      vertical-align: middle;
      font-size: 0.5em;
      line-height: 1em;
      margin-bottom: 0.5em;
    }
  }

  .date {
    vertical-align: top;
    width: 11em;
  }

  .title {
    padding-bottom: 0.5em;
  }

}

.publication-link {
  cursor: pointer;

  color: $link_color;
  text-decoration: none;

  .column {
    display: inline-block;
    max-width: 76%;
    vertical-align: top;
    padding-right: 0.5em;

    @include screen-at-most($extra-extra-large) {
      max-width: 66%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-large) {
      max-width: 50%;
      padding-right: 0.25em;
    }

    @include screen-at-most($extra-small){
      max-width: 46%;
      padding-right: 0.25em;
    }
  }
}
