@import "variables";

.tweets {
    margin: 3em auto 0 auto;
    text-align: left;
}

.fa-twitter{
  margin: 0 5% 0 6%;
  font-size: 3.25em;
  color: $twitter_color;

  .lt-ie8 &{
    zoom:1;
    display: inline;

    height: 38px;
    width: 46px;
    background: $twitter_bird_url 0 0 no-repeat transparent;
    margin: 0 5% 0 6%;

  }
}

.line {
    width: 33%;
    height: 1px;
    background-color: $twitter_color;
    display: inline-block;
    margin-bottom: 18px;

    .lt-ie8 &{
      zoom:1;
      display: inline;
    }
}

.user-icon-cell img {
    width: 20px !important;
    height: 20px !important;
    position: static !important;
    z-index: 10 !important;

    /*height: 50%;*/
    margin: 0 20px 0 0;
}


.tweet-cell {
    padding: 15px 0;
    /*background-color: red;*/
}

.twitter-hashtag,
.twitter-link
{
    color: $twitter_color;
    text-decoration: none;
}


@media screen and (min-width: 40em) {

    .tweets {
        margin: 2em auto 0 auto;
        width: 580px;
        text-align: left;
    }

    .line {
        width: 180px;
        height: 1px;
        background-color: $twitter_color;
        display: inline-block;
        margin-bottom: 18px;

    }

}
