// Fonts
$main_font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$heading_font: Georgia, "Times New Roman", Times, serif;
$menu_font: sans-serif;

// Colours
$background_color: rgba(29, 65, 95, 0.91);
$controls_color: rgba(255, 255, 255, 0.65);
$main_color: rgba(226, 218, 218,1);
$contrast_color: black;

$ie_main_color: black;

$menu_background_color: rgba(0,0,0,0.4);
$menu_border_color: #8f8f8f;
$menu_text_color: #d6ddff;

$error_color: #a50000;


$twitter_color: #5dd7fc;

// Static Paths
$twitter_bird_url: url(/static/img/twitter.png);

// Screen Sizes
$small: 30em; //480px;
$medium: 53em; // 850px;
$large: 61.25em; //980px;
$extra-large: 75em; //1200px;


html.lt-ie9{
//      color: $ie_main_color;
      $background_color: rgb(29, 65, 95);
    $controls_color: rgb(255, 255, 255);
      $menu_background_color: rgb(29, 65, 95);
}