// Fonts
$main_font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$heading_font: Georgia, "Times New Roman", Times, serif;
$menu_font: sans-serif;

// Colours
$background_color: rgba(29, 65, 95, 0.91);
$controls_color: rgba(255, 255, 255, 0.65);
$main_color: rgba(226, 218, 218,1);
$contrast_color: black;

$ie_main_color: black;

$menu_background_color: rgba(0,0,0,0.4);
$menu_border_color: #8f8f8f;
$menu_text_color: #d6ddff;

$error_color: #a50000;
$success_color: green;

$link_color: #5dd7fc;
$disabled_link_color: rgba(lighten(desaturate($link_color, 75%), 10%), 0.25);

$twitter_color: #5dd7fc;

// Static Paths
$twitter_bird_url: url(/static/img/twitter.png);

// Screen Sizes

$extra-small: 20em;
$small: 30em;
$medium: 64em;
$large: 64em;
$extra-large: 75em;
$extra-extra-large: 93.5em; 


html.lt-ie9{
//      color: $ie_main_color;
    $background_color: rgb(29, 65, 95);
    $controls_color: rgb(255, 255, 255);
    $menu_background_color: rgb(29, 65, 95);
}