.webcast-embed,
.video-embed{
    text-align: center;
    height: auto;
    background-color: $background_color;
    border: 1px solid $main_color;
    margin: 40px auto ;
}


.video-listings{

  display: table;
  .video-link{
    cursor: pointer;

    .title{
      padding-bottom: 0.5em;
    }

    .date {
      vertical-align: top;
      width: 11em;
    }

    .description{
      display: table-cell;
      width: 90%;
      vertical-align: middle;
      font-size: 1em;
      padding-top: 1em;
      padding-bottom: 2em;
    }

    &.active{
      color: $link_color;
    }
  }

}

// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  // Modifier class for 16:9 aspect ratio
  &.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  // Modifier class for 4:3 aspect ratio
  &.embed-responsive-4by3 {
    padding-bottom: 75%;
  }
}
