@import "variables";
@import "grid";
@import "typography";
@import "navigation";
@import "twitter";
@import "logos";
@import "video";
@import "press";
@import "footer";

body{
  background: $background_color;

  font-weight: lighter;

  .ie & {
    width: 40em;
    margin: 0 auto;
  }
}

.lt-ie8 li {
  list-style: none;
}

.lt-ie8 #background{display: none;}

.main-page{
  position: absolute;
  top: 10%;
  width: 100%;

  .lt-ie8 &{
    position: static;
    margin-top: 10%;
  }
}

.content-page{

  .logo{text-align:center;}

  @include screen-at-most($medium) {
    width: 100%;
  }

  width: 60%;
  height: 90%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto !important;

}

/* Slide Container */
.slides-container{
    li{
      overflow-y: auto !important;
      -webkit-overflow-scrolling: touch;
      height: 90% !important;
      top: 3.25em !important;

      z-index: 1;
      -webkit-transform-style: preserve-3d;
      -webkit-transform: translate3d(0,0,0);

      &.no-scroll{
        overflow-y: hidden !important;
      }
    }

    .lt-ie8 #slides &, .no-js #slides &{
        display: block;
    }
}


.content-page{
  ul li {
    list-style: disc;
  }
  li {
    overflow: visible !important;
  }

  a{
    color: $twitter_color;
    text-decoration: none;
  }
}

.contact-form-container{
  .title{
    font-weight: bold;
    text-transform: uppercase;
  }

  padding-top: 1em;
  border-top: 1px solid $main_color;
}
.contact-form {
  & table {
    width: 100%;
    th{
      width: 15%;
      font-weight: normal;
    }
    td {
      padding: 1em;
    }
  }

  #id_message {

    height: 10em;

  }

  input[type=email], input[type=text], textarea {
    width: 100%;
  }

  .submit-row{
    text-align: right;

    input {
      width: inherit;
    }
  }

  .recaptchatable{
    img
    {
      width: auto !important;
      height: auto !important;
      position: static !important;
      z-index: 10 !important;
    }
  }
}

@mixin stroke-icon($color) {
  color: $color;
  padding-right: 1em;

  -webkit-text-fill-color: $color; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $controls_color;
}

.messages{
  font-size: 1.25em;
//  padding: 1em;

  .error {
    i {

      @include stroke-icon($error_color);
      font-size: 2em;

    }
  }
  .success {
    i {
//      color: green;
      font-size: 2em;
      @include stroke-icon(green);
    }
  }


}

.errorlist {
  li {
    height: 100% !important;
    top: 0 !important;
    list-style: none;

    .fa-exclamation-triangle, .fa-times-circle {
      @include stroke-icon($error_color);
    }
  }
}

.member-list {

  @include screen-at-most($medium) {
    display: none;
  }

    .member-name {
      height: 3em;
    }
  
  padding-bottom: 1em;

  .title, .member-name {
    text-transform: uppercase;
    font-size: 0.7em;
  }

  .column
  {
    margin-top: 0.25em;

    width: 24%;
    border-top: 2px solid $main_color;


    float: left;

    .member-name{
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      border-bottom: 1px solid $main_color;
    }

  }

  overflow: hidden;
  width: 100%;
  display: block;
}

.member-descriptions{
  display: block;
  .member-profile{
    margin-top: 2em;

    .member-name,
    .member-position,
    .member-partner
    {
      font-weight: bold;
    }
  }

  .member-type {
    &.supporting{
      border-top: 1px solid $main_color;
      padding-top: 2em;
      margin-top: 2em;

      border-bottom: 1px solid $main_color;
      padding-bottom: 2em;
      margin-bottom: 2em;
    }
  }

}

.faq {
  padding-bottom: 2em;

  .question {
    font-weight: bold;
  }
}

.center {
  text-align: center;
}

.partner-description{
  padding-bottom: 2em;
}

#partner-descriptions{
  border-bottom: 1px solid $main_color;
}

.media-contact{
  padding-bottom: 1em;
}
