@import "variables";
@import "grid";
@import "typography";
@import "navigation";
@import "twitter";
@import "logos";
@import "video";
@import "footer";

body{
  background: $background_color;

  .ie & {
    width: 40em;
    margin: 0 auto;
  }
}

.main-page{
    position: absolute;
    top: 15%;
    width: 100%;
}

.content-page{
    width: 60%;
    height: 90%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto !important;
}

/* Slide Container */
.slides-container li{
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    height: 90% !important;
    top: 3.25em !important;
}

.content-page{
  li {
    list-style: disc ;
    overflow: visible !important;
  }

  a{
    color: $twitter_color;
    text-decoration: none;
  }
}



