.grid_1 {
  width: 6.60377%;
  float: left;
  display: block; }

.grid_2 {
  width: 15.09434%;
  float: left;
  display: block; }

.grid_3 {
  width: 23.58491%;
  float: left;
  display: block; }

.grid_4 {
  width: 32.07547%;
  float: left;
  display: block; }

.grid_5 {
  width: 40.56604%;
  float: left;
  display: block; }

.grid_6 {
  width: 49.0566%;
  float: left;
  display: block; }
  .grid_6:first-child {
    text-align: right; }
    .grid_6:first-child img {
      padding-right: 5%; }
  .grid_6:last-child {
    text-align: left; }
    .grid_6:last-child img {
      padding-left: 5%; }

.grid_7 {
  width: 57.54717%;
  float: left;
  display: block; }

.grid_8 {
  width: 66.03774%;
  float: left;
  display: block; }

.grid_9 {
  width: 74.5283%;
  float: left;
  display: block; }

.grid_10 {
  width: 83.01887%;
  float: left;
  display: block; }

.grid_11 {
  width: 91.50943%;
  float: left;
  display: block; }

.grid_12 {
  width: 100%;
  float: left;
  display: block; }

.container {
  width: 90%;
  margin: auto; }

@media only screen and (min-width: 66em) {
  body {
    font-size: 1.0em;
    letter-spacing: 0.1em; } }

.content {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .content .heading {
    font-family: Georgia, "Times New Roman", Times, serif; }

.main-page {
  font-size: 1.5em; }

.medium {
  /* 20px / 30px */
  font-size: 0.95em;
  line-height: 1.5em; }
  @media only screen and (max-width: 30em) {
    .medium {
      font-size: 0.5em; } }
  @media only screen and (min-width: 30em) and (max-width: 66em) {
    .medium {
      font-size: 0.75em; } }
  @media only screen and (min-width: 66em) and (max-width: 66em) {
    .medium {
      font-size: 1.05em; } }
  @media only screen and (min-width: 66em) {
    .medium {
      font-size: 1.25em; } }

.medium.wide {
  letter-spacing: 0.15em; }
  @media only screen and (min-width: 66em) {
    .medium.wide {
      letter-spacing: 0.15em; } }
  @media only screen and (min-width: 66em) {
    .medium.wide {
      letter-spacing: 0.15em; } }

.massive {
  /* 68px / 72px */
  line-height: 1.0588235294117647em; }
  @media only screen and (max-width: 30em) {
    .massive {
      font-size: 1.5em; } }
  @media only screen and (min-width: 30em) and (max-width: 66em) {
    .massive {
      font-size: 2.5em; } }
  @media only screen and (min-width: 66em) and (max-width: 66em) {
    .massive {
      font-size: 3.25em; } }
  @media only screen and (min-width: 66em) {
    .massive {
      font-size: 4.25em; } }

.massive.wide {
  letter-spacing: 0.05em; }
  @media only screen and (min-width: 66em) {
    .massive.wide {
      letter-spacing: 0.05em; } }
  @media only screen and (min-width: 66em) {
    .massive.wide {
      letter-spacing: 0.05em; } }

.content-page {
  text-align: left; }
  .content-page .heading {
    font-size: 2em; }
    @media only screen and (max-width: 30em) {
      .content-page .heading {
        font-size: 1.4em; } }

.contact-form input, .contact-form textarea {
  color: black; }

/* Navigation */
.custom-slides-pagination {
  position: absolute;
  z-index: 3;
  top: 0;
  text-align: left;
  width: 100%;
  height: 4em;
  border-bottom: #8f8f8f 1px solid;
  border-top: #8f8f8f 1px solid;
  background: #1d415f;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.75em;
  text-shadow: none;
  letter-spacing: 0.075em; }
  .custom-slides-pagination a {
    color: #d6ddff;
    text-decoration: none;
    padding: 1.5em;
    line-height: 4em;
    border-right: 1px solid #8f8f8f; }
    .custom-slides-pagination a.current span {
      border-bottom: 1px solid #d6ddff; }
    .custom-slides-pagination a.icon {
      font-size: 0.75em;
      border-right: none;
      float: right;
      padding-right: 2em; }
  .custom-slides-pagination.compressed a {
    border-right: none; }
  .custom-slides-pagination.compressed .icon {
    position: absolute;
    margin-right: 4em;
    right: 0;
    top: 0;
    float: none; }
  .custom-slides-pagination.compressed ul {
    padding: 0;
    margin: 0; }
    .custom-slides-pagination.compressed ul li {
      background: #1d415f; }
    .custom-slides-pagination.compressed ul a {
      border-bottom: 1px solid #8f8f8f;
      border-right: none;
      display: block;
      width: 100%;
      line-height: 1em; }

.home {
  padding-right: 40px;
  font-weight: normal; }

.slides-navigation a {
  color: white;
  margin: 0 25px; }
@media only screen and (max-width: 66em) {
  .slides-navigation {
    display: none; } }

#responsive-menu-toggle {
  line-height: 1em;
  text-align: right;
  position: absolute;
  right: 0; }
  #responsive-menu-toggle a {
    padding-right: 0; }

@media only screen and (max-width: 66em) {
  #top-menu {
    display: none; } }

#responsive-menu {
  display: none; }
  @media only screen and (max-width: 66em) {
    #responsive-menu {
      display: block; } }

#responsive-menu-list {
  display: none; }

.tweets {
  margin: 3em auto 0 auto;
  text-align: left; }

.fa-twitter {
  margin: 0 5% 0 6%;
  font-size: 3.25em;
  color: #5dd7fc; }
  .lt-ie8 .fa-twitter {
    zoom: 1;
    display: inline;
    height: 38px;
    width: 46px;
    background: url(/static/img/twitter.png) 0 0 no-repeat transparent;
    margin: 0 5% 0 6%; }

.line {
  width: 33%;
  height: 1px;
  background-color: #5dd7fc;
  display: inline-block;
  margin-bottom: 18px; }
  .lt-ie8 .line {
    zoom: 1;
    display: inline; }

.user-icon-cell img {
  width: 20px !important;
  height: 20px !important;
  position: static !important;
  z-index: 10 !important;
  /*height: 50%;*/
  margin: 0 20px 0 0; }

.tweet-cell {
  padding: 15px 0;
  /*background-color: red;*/ }

.twitter-hashtag,
.twitter-link {
  color: #5dd7fc;
  text-decoration: none; }

@media screen and (min-width: 40em) {
  .tweets {
    margin: 2em auto 0 auto;
    width: 580px;
    text-align: left; }

  .line {
    width: 180px;
    height: 1px;
    background-color: #5dd7fc;
    display: inline-block;
    margin-bottom: 18px; } }
.logos {
  margin-top: 10%;
  height: 160px; }
  @media only screen and (min-width: 66em) {
    .logos {
      margin-top: 10%;
      height: 80px; } }
  @media only screen and (min-width: 75em) {
    .logos {
      margin: 10% 5.555555555555555%; } }
  .logos .logo img {
    width: 162px !important;
    height: 58px !important;
    position: static !important;
    z-index: 10 !important; }
    @media only screen and (max-width: 556px) {
      .logos .logo img {
        width: 81px !important;
        height: 29px !important; } }

.heading .logo img {
  width: 556px !important;
  height: 201px !important;
  position: static !important;
  z-index: 10 !important; }
  @media only screen and (max-width: 556px) {
    .heading .logo img {
      width: 278px !important;
      height: 100.5px !important; } }

#background {
  opacity: 0.1;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1; }
  .lt-ie9 #background {
    -ms-filter: "alpha(opacity=10)";
    zoom: 1; }

#big-video-wrap {
  display: none; }

.big-video-wrap-faded {
  opacity: 0.1; }
  .lt-ie9 .big-video-wrap-faded {
    -ms-filter: "alpha(opacity=10)";
    zoom: 1; }

#play-video,
#pause-video {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: none;
  width: 5%;
  text-align: right;
  color: white;
  cursor: pointer; }
  #play-video i,
  #pause-video i {
    padding: 35%; }
    @media only screen and (max-width: 30em) {
      #play-video i,
      #pause-video i {
        display: none; } }

#big-video-vid {
  display: none; }
  #big-video-vid div {
    text-indent: -9999px; }

.media-contacts .title {
  font-weight: bold;
  text-transform: uppercase; }

.press-release {
  padding-top: 1em; }
  .press-release .press-release-notice {
    text-transform: uppercase;
    text-align: left; }
  .press-release .info {
    font-weight: bold; }
  .press-release .partner {
    padding-top: 1em; }
    .press-release .partner .name {
      font-weight: bold; }
  .press-release .press-release-end {
    text-align: center;
    padding-top: 1em; }

.press-release-listings {
  border-bottom: 1px solid #e2dada;
  padding-bottom: 2em; }
  .press-release-listings .active {
    color: rgba(186, 205, 210, 0.25);
    cursor: default; }
    .press-release-listings .active .indicator {
      visibility: visible; }
  .press-release-listings .indicator {
    vertical-align: top;
    visibility: hidden; }
    .press-release-listings .indicator .dot {
      vertical-align: middle;
      font-size: 0.5em;
      line-height: 1em;
      margin-bottom: 0.5em; }
  .press-release-listings .date {
    vertical-align: top;
    width: 11em; }

.press-release-link {
  cursor: pointer;
  color: #5dd7fc;
  text-decoration: none; }
  .press-release-link .column {
    display: inline-block;
    max-width: 76%;
    vertical-align: top;
    padding-right: 0.5em; }
    @media only screen and (max-width: 93.5em) {
      .press-release-link .column {
        max-width: 66%;
        padding-right: 0.25em; } }
    @media only screen and (max-width: 75em) {
      .press-release-link .column {
        max-width: 50%;
        padding-right: 0.25em; } }
    @media only screen and (max-width: 20em) {
      .press-release-link .column {
        max-width: 46%;
        padding-right: 0.25em; } }

.event {
  padding-top: 1em; }
  .event .info {
    font-style: italic;
    text-transform: uppercase;
    margin-top: -1em;
    padding-bottom: 1em;
    display: table; }
    .event .info .icon {
      display: table-cell;
      width: 5%;
      vertical-align: middle; }
    .event .info .data {
      display: table-cell;
      width: 90%;
      vertical-align: middle; }

.event-listings {
  border-bottom: 1px solid #e2dada;
  padding-bottom: 2em; }
  .event-listings .active {
    color: rgba(186, 205, 210, 0.25);
    cursor: default; }
    .event-listings .active .indicator {
      visibility: visible; }
  .event-listings .indicator {
    vertical-align: top;
    visibility: hidden; }
    .event-listings .indicator .dot {
      vertical-align: middle;
      font-size: 0.5em;
      line-height: 1em;
      margin-bottom: 0.5em; }
  .event-listings .date {
    vertical-align: top;
    width: 11em; }
  .event-listings .location {
    font-style: italic;
    margin-bottom: 1em; }

.event-link {
  cursor: pointer;
  color: #5dd7fc;
  text-decoration: none; }
  .event-link .column {
    display: inline-block;
    max-width: 76%;
    vertical-align: top;
    padding-right: 0.5em; }
    @media only screen and (max-width: 93.5em) {
      .event-link .column {
        max-width: 66%;
        padding-right: 0.25em; } }
    @media only screen and (max-width: 75em) {
      .event-link .column {
        max-width: 50%;
        padding-right: 0.25em; } }
    @media only screen and (max-width: 20em) {
      .event-link .column {
        max-width: 46%;
        padding-right: 0.25em; } }

.footer {
  width: 90%;
  margin: 4em auto;
  border-top: 1px solid #e2dada;
  z-index: 10;
  font-size: 1em; }
  .content .footer {
    text-align: center; }
    .content .footer a {
      text-decoration: underline;
      color: #e2dada; }
  .lt-ie8 .footer p {
    display: none; }
  .footer p {
    font-size: 0.9em; }
  .footer p.open-source-message {
    font-size: 0.75em; }
  .main-page .footer {
    font-size: 0.65em; }
  .footer a {
    color: #e2dada; }
    .footer a:visited {
      color: #e2dada; }

body {
  background: #1d415f;
  font-weight: lighter; }
  .ie body {
    width: 40em;
    margin: 0 auto; }

.lt-ie8 li {
  list-style: none; }

.lt-ie8 #background {
  display: none; }

.main-page {
  position: absolute;
  top: 10%;
  width: 100%; }
  .lt-ie8 .main-page {
    position: static;
    margin-top: 10%; }

.content-page {
  width: 60%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important; }
  .content-page .logo {
    text-align: center; }
  @media only screen and (max-width: 66em) {
    .content-page {
      width: 100%; } }

/* Slide Container */
.slides-container li {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  height: 90% !important;
  top: 3.25em !important;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0); }
  .slides-container li.no-scroll {
    overflow-y: hidden !important; }
.lt-ie8 #slides .slides-container, .no-js #slides .slides-container {
  display: block; }

.content-page ul li {
  list-style: disc; }
.content-page li {
  overflow: visible !important; }
.content-page a {
  color: #5dd7fc;
  text-decoration: none; }

.contact-form-container {
  padding-top: 1em;
  border-top: 1px solid #e2dada; }
  .contact-form-container .title {
    font-weight: bold;
    text-transform: uppercase; }

.contact-form table {
  width: 100%; }
  .contact-form table th {
    width: 15%;
    font-weight: normal; }
  .contact-form table td {
    padding: 1em; }
.contact-form #id_message {
  height: 10em; }
.contact-form input[type=email], .contact-form input[type=text], .contact-form textarea {
  width: 100%; }
.contact-form .submit-row {
  text-align: right; }
  .contact-form .submit-row input {
    width: inherit; }

.messages {
  font-size: 1.25em; }
  .messages .error i {
    color: #a50000;
    padding-right: 1em;
    -webkit-text-fill-color: #a50000;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 2em; }
  .lt-ie8 .messages .error {
    color: #ffa5a5; }
  .messages .success i {
    font-size: 2em;
    color: green;
    padding-right: 1em;
    -webkit-text-fill-color: green;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }
  .lt-ie8 .messages .success {
    color: #80ff80; }

.errorlist li {
  height: 100% !important;
  top: 0 !important;
  list-style: none; }
  .errorlist li .fa-exclamation-triangle, .errorlist li .fa-times-circle {
    color: #a50000;
    padding-right: 1em;
    -webkit-text-fill-color: #a50000;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

.member-list {
  padding-bottom: 1em;
  overflow: hidden;
  width: 100%;
  display: block; }
  @media only screen and (max-width: 66em) {
    .member-list {
      display: none; } }
  .member-list .member-name {
    height: 3em; }
  .member-list .title, .member-list .member-name {
    text-transform: uppercase;
    font-size: 0.7em; }
  .member-list .column {
    margin-top: 0.25em;
    width: 24%;
    border-top: 2px solid #e2dada;
    float: left; }
    .member-list .column .member-name {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      border-bottom: 1px solid #e2dada; }

.member-descriptions {
  display: block; }
  .member-descriptions .member-profile {
    margin-top: 2em; }
    .member-descriptions .member-profile .member-name,
    .member-descriptions .member-profile .member-position,
    .member-descriptions .member-profile .member-partner {
      font-weight: bold; }
  .member-descriptions .member-type.supporting {
    border-top: 1px solid #e2dada;
    padding-top: 2em;
    margin-top: 2em;
    border-bottom: 1px solid #e2dada;
    padding-bottom: 2em;
    margin-bottom: 2em; }

.faq {
  padding-bottom: 2em; }
  .faq .question {
    font-weight: bold; }

.center {
  text-align: center; }

.partner-description {
  padding-bottom: 2em; }

#partner-descriptions {
  border-bottom: 1px solid #e2dada; }

.media-contact {
  padding-bottom: 1em; }
